#login-form {
  margin-top: 2%;
}
#login-form div {
  padding: 5%;
  background-color: #ffffff;
  margin-bottom: 2%;
}
#login-form label {
  color: #199bd2;
}
#login-form input {
  margin-top: 3%;
  border: none;
  border-bottom: 1px solid #d6cfcf;
}
