#password-container {
  background: #f1fcff;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
}
#password-header {
  padding: 10%;
  display: flex;
  justify-content: space-between;
  height: 84px;
  background-color: #ffffff;
}
.password-input {
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #d6cfcf;
}
#password-body .enter-password {
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5%;
  height: 80px;
}
#password-body .re-enter-password {
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5%;
  height: 80px;
}
