.apartment-container {
  margin-top: 0.7%;
  background-color: #ffffff;
  height: 45px;
  padding-top: 4.5%;
  padding-bottom: 4%;

}
#owner {
  padding-bottom: 3%;
  color: #199bd2;
  font-size: 11px;
}
#apartment-body {

  padding-top: 1%;
  padding-left: 6%;
  padding-right: 0%;
  display: flex;

}

.apartment-number {
  display: inline-block;
  background: #04A5FF;
  width: 32px;
  height: 32px;
  border-radius: 30px;
  color: white;
  text-align: center;
  line-height: 3em;
  font-weight: 400;
  font-size: 11.77px;
}

.owner-and-ownerName-wrapper {
  margin-left: 10%;
  width: 63%;
}

.owner-name {
  font-weight: 400;
  font-size: 13.77px;
}

.viewBillsLinkWrapper {
  width: 15%;
  text-align: center;
  line-height: 35pt;
}
